{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="{% static 'TodoApp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'TodoApp/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="signup-login">
        <div class="signup-box scr">
            <div class="heading">Get Things Done?</div>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="title" required class="todo-input inp" placeholder="What is the task today?" value="{{ obj.title }}">
                <input type="hidden" name="srno" value="{{ obj.srno }}">
                <input class="submit-button" type="submit" value="Update Task">
            </form>

            <div class="todo-list">
                {% for todo in res %}
                    <div class="Todo clickable-div {% if todo.status %}todo-green{% else %}todo-red{% endif %}">
                        <h5>{{ todo.srno }}</h5>
                        <p class="{% if todo.status %} completed {% endif %}">{{ todo.title }}</p>
                        <div>
                            <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="/delete_todo/{{ todo.srno }}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
