body {
    margin: 0;
    padding: 0;
    background: #011735;
    font-family: 'Poppins', sans-serif;
    color: #E6DDD4; /* Default text color */
}

.signup-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box,
.signup-box1 {
    background-color: #0D1B1E;
    width: 100%;
    max-width: 520px;
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.greeting {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.greeting i {
    margin-right: 10px;
    font-size: 2rem;
    color: #f1c232;
}

.greeting span {
    font-size: 1.5rem;
}

.signout a {
    font-size: 1.5rem;
    color: #E6DDD4;
    text-decoration: none;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    color: #E6DDD4;
    margin-bottom: 30px;
}

.field {
    width: 100%;
    margin-bottom: 20px;
}

.field b {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #E6DDD4;
}

.inp {
    width: 100%;
    padding: 10px;
    background-color: #1a2a33;
    border: 1px solid #8758ff;
    color: #E6DDD4;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}

.inp:focus {
    border: 1px solid #f1c232;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #252525;
    color: #E6DDD4;
    border: none;
    font-size: 1.2rem;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #3c3c3c;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #E6DDD4;
    margin: 15px 0;
}

.anc {
    color: #f1c232;
    text-decoration: none;
    font-size: 1rem;
}

.anc:hover {
    text-decoration: underline;
}

.Todo {
    background-color: #1a2a33;
    color: #500f1d;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Todo i {
    font-size: 1.3rem;
    color: #E6DDD4;
    margin-left: 10px;
}

.Todo:hover {
    background-color: #6a3b3b;
}

.todo-green {
    background-color: #104f13;
}

.todo-red {
    background-color: #b71119b3;
}

.completed {
    text-decoration: line-through;
    color: #c5aeff;
}

.todo-list {
    width: 100%;
    padding: 20px 0;
}
