.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background-color: #252525;
  margin-top: 50px;
  padding: 2px;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  margin-right: 0;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  margin-left: 0;
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E4234B; /* Task text color */
  background: #011735; /* Task background */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}

.scr {
  overflow-y: scroll;
}

.scr::-webkit-scrollbar {
  width: 0;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.todo-btn:hover {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  box-shadow: 0 0 10px #8758ff;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.todo-green {
  background-color: #4CAF50;
}

.todo-red {
  background-color: #FF6347;
}

.anca {
  font-size: 25px;
  margin-top: 7px;
  margin-right: -41px;
}

.heads {
  display: flex;
  justify-content: space-evenly;
}

.Todo:hover {
  background-color: #ddd;
  cursor: pointer;
}
